NEXT_PUBLIC_HOST_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_S3_ENDPOINT=

OSM_URL=https://nominatim.openstreetmap.org

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
